<form [formGroup]="form">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
    <button type="submit" class="btn btn-primary btn-rose" (click)="submit()" [disabled]="!form.valid">Завершить
    </button>
  </formly-form>
</form>
