.filial_info{
  margin-top: -36px;
  align-items: center;
}

.filial_info_quill {
}

.input-group.has-error .form-control{
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2) !important;
  background-size: 100% 2px, 100% 1px !important;
  transition-duration: 0.3s !important;
}
.input-group.has-error .control-label{
  color: #f44336 !important;
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder {
  top: 1px;
}
.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
  top: -16px;
}

