<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand org-name">{{navbarInfo?.name}}</h1>
    </div>
    <div class="collapse navbar-collapse">
      <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav navbar-right">
          <li class="link" style="width: 45px;">
            <a (click)="toMain()">
              <i class="material-icons">map</i>
            </a>
          </li>
          <li class="link" style="width: 45px;" (click)="logout()">
              <a>
                <i class="material-icons">exit_to_app</i>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
