.my-drop-zone {
  padding: 50px;
  font-size: 20px;
  text-align: center;
  color: lightgray;
  width: 100%;
  margin: 10px;
  background-color: white;
}

.my-drop-zone:hover {
  background-color: #f7f6f6;
  cursor: pointer;
}

.file-uploader {
  margin: auto;
}

.nv-file-over {
  border: dotted 3px green;
}

.ili {
  display: inline-block;
  margin: auto;
  font-size: 21px;
  color: lightgrey;
}
