<div class="card">
  <div class="form-horizontal">
    <div class="card-header card-header-text" data-background-color="rose">
      <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-content">
      <form [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
          <button type="submit" class="btn btn-primary btn-rose" (click)="submit()" [disabled]="!form.valid">{{button}}</button>
          <button type="button" class="btn btn-default" (click)="close()">Отмена</button>
        </formly-form>
      </form>
    </div>
  </div>
</div>
