<div class="group-logo fileinput fileinput-new text-center" data-provides="fileinput">
  <div class="fileinput-new thumbnail img-circle">
    <img #qwe src="../../assets/img/default-avatar.png" alt="...">
  </div>
  <div class="logo-preview fileinput-preview fileinput-exists thumbnail img-circle"></div>
  <div class='group-logo-button'>
    <h4 class="info-text">Загрузите ваш логотип формата 274px на 274px</h4>
    <div class="btn-logo">
      <div class="btn-logo-elem">
                                     <span class="btn btn-round btn-rose btn-file">
                                         <span class="fileinput-new">Загрузить</span>
                                         <span class="fileinput-exists">Изменить</span>
                                        <input type="file" name="..." ng2FileSelect
                                               [uploader]="uploader"/>
                                    </span>
      </div>
      <br/>
      <div class="btn-logo-elem">
        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
          <i class="fa fa-times"></i> Удалить</a>
      </div>
    </div>
  </div>
</div>
