.group-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.group-logo-button {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.btn-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-preview {
  max-width: 100%;
  border-radius: 25%
}
