.company_info{
  margin-top: -36px;
  align-items: center;
}

.categories_modal{
    margin-top: 2vh;
    height: 90vh
}

.categories_modal__window{
  height: 90vh;
  overflow: auto;
  overflow-x: hidden
}

.company_info__container{
  display: flex;
  padding-top: 18px;
  padding-left: 3px;
}

.company_info__button {
  background-color: #FFFFFF;
  border: #FFFFFF;
  box-shadow: none;
  margin-top: inherit ;
  height: 40px;
  width: 30px;
  position: relative;
  padding-right: 32px;
}
.company_info__button i{
  color: #0275d8;
  font-size: 26px;
}

.company_info__button:hover i{
  transform: scale(1.2);
  transition: all 0.15s;
}

.input-group.has-error .form-control{
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2) !important;
  background-size: 100% 2px, 100% 1px !important;
  transition-duration: 0.3s !important;
}
.input-group.has-error .control-label{
  color: #f44336 !important;
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder {
  top: 1px;
}
.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
  top: -16px;
}

.text-center{
  align-items: center;
}

.input-readOnly{
  width: 100%;
  border: 0;
  font-weight: 400;
  height: 36px;
}

.container_content{
  display: flex;
  flex-direction: row;
}

.btn-logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.group-logo{
  padding-top: 28px;
}

.logo_btn{
  padding: 8px 20px;
}
