<div class="main-content">
  <div class="container-fluid lock">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div method="get" action="/" class="form-horizontal">
            <div class="card-header card-header-text" data-background-color="rose">
              <h4 class="card-title">Информация о компании</h4>
            </div>
            <div class="card-content container_content">
              <div class="group-logo fileinput fileinput-new text-center col-sm-3"
                   data-provides="fileinput">
                <div class="fileinput-new thumbnail img-circle">
                  <img *ngIf="baseInfo !== null && baseInfo.file" src={{baseInfo.file}}>
                </div>
                <div class="logo-preview fileinput-preview fileinput-exists thumbnail img-circle"></div>
                <div class="btn-logo">
                  <div class="btn-logo-elem">
                                     <span class="logo_btn btn btn-round btn-rose btn-file">
                                         <span class="fileinput-new">Загрузить</span>
                                         <span class="fileinput-exists">Изменить</span>
                                        <input type="file" name="..." ng2FileSelect
                                          [uploader]="uploader"/>
                                    </span>
                  </div>
                  <br/>
                  <div class="btn-logo-elem">
                    <a href="#pablo" class="logo_btn btn btn-danger btn-round fileinput-exists"
                       data-dismiss="fileinput"> Удалить</a>
                  </div>
                </div>
              </div>
              <div style="flex-basis: 100%">
                <ng-container [formGroup]="baseInfoform.form">
                  <div class="row" *ngFor="let f of baseInfoform.getKeys()">
                    <label class="col-sm-2 label-on-left">{{baseInfoform.getlabel(f)}}<span
                      class="star">{{baseInfoform.isRequired(f) ? '*' : ''}}</span></label>
                    <div class="input-group col-sm-9" [ngClass]="{'has-error': baseInfoform.isError(f)}">
                      <div class="form-group label-floating">
                        <ng-container *ngIf="baseInfoform.isReadOnly(f);else elseBlock">
                          <input readonly class='input-readOnly' type="text" value='{{baseInfoform.getValueData(f)}}'>
                        </ng-container>
                        <ng-template #elseBlock>
                          <label class="control-label">{{baseInfoform.getError(f)}}</label>
                          <input type="text" class="form-control" [formControlName]="f">
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 label-on-left">Тип деятельности</label>
                    <div class="input-group col-sm-9">
                      <div class="form-group label-floating">
                        <input readonly class='input-readOnly' type="text" value="{{getTypeName()}}">
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="baseInfo !== null && baseInfo.activeType == 1" [formGroup]="companyForm.form">
                  <div class="row" *ngFor="let f of companyForm.getKeys()">
                    <label class="col-sm-2 label-on-left">{{companyForm.getlabel(f)}}<span
                      class="star">{{companyForm.isRequired(f) ? '*' : ''}}</span></label>
                    <div class="input-group col-sm-9" [ngClass]="{'has-error': companyForm.isError(f)}">
                      <div class="form-group label-floating">
                        <ng-container *ngIf="companyForm.isReadOnly(f);else elseBlock">
                          <input readonly class='input-readOnly' type="text" value='{{companyForm.getValueData(f)}}'>
                        </ng-container>
                        <ng-template #elseBlock>
                          <label class="control-label">{{companyForm.getError(f)}}</label>
                          <input type="text" class="form-control" [formControlName]="f">
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="baseInfo !== null && baseInfo.activeType == 2" [formGroup]="ipForm.form">
                  <div class="row" *ngFor="let f of ipForm.getKeys()">
                    <label class="col-sm-2 label-on-left">{{ipForm.getlabel(f)}}<span
                      class="star">{{ipForm.isRequired(f) ? '*' : ''}}</span></label>
                    <div class="input-group col-sm-9" [ngClass]="{'has-error': ipForm.isError(f)}">
                      <div class="form-group label-floating">
                        <ng-container *ngIf="ipForm.isReadOnly(f);else elseBlock">
                          <input readonly class='input-readOnly' type="text" value='{{ipForm.getValueData(f)}}'>
                        </ng-container>
                        <ng-template #elseBlock>
                          <label class="control-label">{{ipForm.getError(f)}}</label>
                          <input type="text" class="form-control" [formControlName]="f">
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="baseInfo !== null && baseInfo.activeType == 3" [formGroup]="selfEmployedForm.form">
                  <div class="row" *ngFor="let f of selfEmployedForm.getKeys()">
                    <label class="col-sm-2 label-on-left">{{selfEmployedForm.getlabel(f)}}<span
                      class="star">{{selfEmployedForm.isRequired(f) ? '*' : ''}}</span></label>
                    <div class="input-group col-sm-9" [ngClass]="{'has-error': selfEmployedForm.isError(f)}">
                      <div class="form-group label-floating">
                        <ng-container *ngIf="selfEmployedForm.isReadOnly(f);else elseBlock">
                          <input readonly class='input-readOnly' type="text"
                            value='{{selfEmployedForm.getValueData(f)}}'>
                        </ng-container>
                        <ng-template #elseBlock>
                          <label class="control-label">{{selfEmployedForm.getError(f)}}</label>
                          <input type="text" class="form-control" [formControlName]="f">
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="row ">
                  <label class="col-sm-2 label-on-left">Категории
                    <span class="star"></span>
                  </label>
                  <div class="col-sm-9 company_info__container">
                    <button class="company_info__button" data-toggle="modal" data-target="#noticeModal"
                      (click)="getCategories()">
                      <i class="material-icons">add</i>
                    </button>
                    <tag-input class="categories_info"
                      *ngIf="baseInfo != null"
                      [secondaryPlaceholder]="'Категории'"
                      [(ngModel)]="baseInfo.categories"
                               theme="bootstrap"
                               hideForm='true'
                      (onRemove)="onItemRemoved($event)"
                    >
                    </tag-input>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-2"></label>
                  <div class="col-md-9">
                    <div class="category form-category">
                      <span class="star">*</span>
                      Обязательные поля
                    </div>
                    <div class="form-group form-button">
                      <button
                        class="btn btn-fill btn-rose" [disabled]="!disabled()"
                        (click)="edit()"
                      >
                        Сохранить
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-notice categories_modal">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
            class="material-icons">clear</i></button>
          <h5 class="modal-title text-center" id="myModalLabel">Категории</h5>
          <h5 class="modal-title text-center">Вы можете выбрать 3 категории</h5>
        </div>
        <div class="modal-body categories_modal__window">
          <app-categories-checker [templates]="templateCategories" [(categoriesCheckedIds)]="companyCategoriesIds"
            [size]=3
            (onCheck)="onCheck($event)"></app-categories-checker>
        </div>
        <div class="modal-footer text-center">
        </div>
      </div>
    </div>
  </div>
