<div class="logo">
  <div class="logo-normal">
    <img src="assets/logo.svg" style="height: 45px;">
    <a style="margin-left: 17px; text-align: left" class="simple-text">Admin</a>
  </div>
</div>

<div class="sidebar-wrapper">

  <app-user></app-user>
  <div *ngIf="isNotMobileMenu()">
    <form
      class="navbar-form navbar-right"
      role="search"
    >
      <div class="form-group form-search is-empty">
        <input
          class="form-control"
          placeholder="Search"
          type="text"
        >
        <span class="material-input"></span>
        <span class="material-input"></span>
      </div>
      <button
        class="btn btn-white btn-round btn-just-icon"
        type="submit"
      >
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </form>
    <ul class="nav nav-mobile-menu">
      <li class>
        <a
          class="dropdown-toggle"
          data-toggle="dropdown"
          href="#pablo"
          aria-expanded="false"
        >
          <i class="material-icons">dashboard</i>
          <p class="hidden-lg hidden-md">Dashboard</p>
          <div class="ripple-container"></div>
        </a>
      </li>
      <li class>
        <a
          class="dropdown-toggle"
          data-toggle="dropdown"
          href="#pablo"
          aria-expanded="false"
        >
          <i class="material-icons">person</i>
          <p class="hidden-lg hidden-md">Profile</p>
          <div class="ripple-container"></div>
        </a>
      </li>
      <li class="separator hidden-lg hidden-md"></li>
    </ul>
  </div>
  <div class="nav-container">
    <div class="menu-title">Меню организации</div>
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/companies/{{companyId | async}}/info">
          <i class="material-icons">assignment</i>
          <p>Информация о компании</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/companies/{{companyId | async}}/stat">
          <i class="material-icons">local_offer</i>
          <p>Статистика компании</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/companies/{{companyId | async}}/tags">
          <i class="material-icons">label</i>
          <p>Теги</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/companies/{{companyId | async}}/sales">
          <i class="material-icons">local_offer</i>
          <p>Скидки</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a
          data-toggle="collapse"
          href="#componentsExamples"
        >
          <i class="material-icons" routerLink="/companies/{{companyId | async}}">apps</i>
          <p routerLink="/companies/{{companyId | async}}">
            <span>Филиалы</span>
            <b class="caret"></b>
          </p>
        </a>
        <div
          class="collapse"
          id="componentsExamples"
          app-filials-list
        >
        </div>
      </li>
    </ul>
  </div>
</div>
