<div *ngIf="uploader">
  <label class="btn btn-rose" ng2FileDrop [uploader]="uploader">Добавить
    <input style="display: none" type="file" ng2FileSelect [uploader]="uploader" multiple>
  </label>
</div>
