<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="form-horizontal">
            <div class="card-header card-header-text" data-background-color="rose">
              <h4 class="card-title">{{data.title}}</h4>
            </div>
            <div class="card-content" [formGroup]="form.form">
              <ng-container *ngFor="let f of form.getKeys()">
                <div class="row" *ngIf="f != 'room' || form.getRoomType() != 0">
                  <label class="col-sm-2 label-on-left">{{form.getlabel(f)}}
                    <span class="star">{{form.isRequired(f) || f == 'room' ? '*' : ''}}</span>
                  </label>
                  <div class="input-group col-sm-9"
                       [ngClass]="{'has-error': form.isError(f)}">
                    <div class="form-group label-floating">
                      <ng-container *ngIf="form.isInput(f);">
                        <label class="control-label">{{form.getError(f)}}</label>
                        <input type="text" class="form-control" [formControlName]="f">
                      </ng-container>
                      <ng-container *ngIf="f == 'address'">
                        <label class="control-label">{{form.getError(f)}}</label>
                        <div>
                          <input type="text"
                                 class="form-control"
                                 placeholder=""
                                 [formControlName]="f"
                                 (setAddress)="form.setAddressPlace($event)"
                                 app-google-place-autocomplete/>
                          <button class="marker-place"
                                  (click)="setHiddenMap()">
                            <i class="material-icons" >place</i>
                          </button>
                        </div>
                        <app-map
                          [zoom]="this.form.getValue().lng ? 16 : 11"
                          [position]="position"
                          [marker]="marker"
                          (mapClick)="clickMap($event)"
                          *ngIf="!mapHidden">
                        </app-map>
                      </ng-container>
                      <ng-container *ngIf="f == 'roomType'">
                        <ng2-dropdown>
                          <ng2-dropdown-button>
                            {{form.getTypeName()}}
                          </ng2-dropdown-button>
                          <ng2-dropdown-menu>
                            <ng2-menu-item *ngFor="let typ of form.roomTypes" (click)="form.checkType(typ)">
                              {{ typ.name }}
                            </ng2-menu-item>
                          </ng2-dropdown-menu>
                        </ng2-dropdown>
                      </ng-container>
                      <ng-container *ngIf="f == 'isActive'">
                        <mat-slide-toggle [formControlName]="f" style="margin-top: 6px;"></mat-slide-toggle>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="row">
                <label class="col-md-2"></label>
                <div class="col-md-9">
                  <div class="category form-category">
                    <span class="star">*</span> Обязательные поля
                  </div>
                  <div class="form-group form-button">
                    <button class="btn btn-fill btn-rose" [disabled]="!form.isDisabled()"
                            (click)="action()">
                      {{data.action}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
