<div class="user">
    <div class="photo">
        <img src="../assets/img/default-avatar.png">
    </div>
    <div class="info">
        <a
            data-toggle="collapse"
            href="#collapseExample"
            class="collapsed user-name-heigth user-name"
        >
            <span *ngIf="(user$ | async) != null">
                {{(user$ | async).name}}
                <b class="caret"></b>
            </span>
        </a>
        <div
            class="collapse"
            id="collapseExample"
            app-user
        >
            <ul class="nav">
                <li>
                    <a href="javascript:void(0)">
                        <span class="sidebar-mini"><i class="material-icons">domain</i></span>
                        <span routerLink="/user/companies" class="sidebar-normal">Компании</span>
                    </a>
                </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="sidebar-mini"><i class="material-icons">build</i></span>
                  <span routerLink="/user/changepassword/confirm" class="sidebar-normal">Изменить пароль</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>

