<div class="main-content">
  <div class="container-fluid">
    <h4 class="title">Филиалы</h4>
    <button type="button" class="btn btn-rose" routerLink="filials/add">Добавить</button>
    <div class="row">
      <app-dashboard-filials></app-dashboard-filials>
    </div>
  </div>
</div>
