<form [formGroup]="form">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
    <button type="submit" class="btn btn-primary btn-rose btn-lft" (click)="create()" [disabled]="!form.valid">Далее
    </button>
  </formly-form>
</form>
