.sebm-google-map-container {
  height: 400px;
  left: 0;
  top: 67px;
  right: 0;
}

.map-info {
  display: flex;
  flex-direction: row;
}

.map-info-container {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.map-info-container-contact {
  display: flex;
  line-height: 2;
}

.map-info-container-title {
  padding-bottom: 15px;
  font-weight: 600;
}

.map-info-container-contact-icon {
  font-size: 22px;
}

.map-info-container-contact-value {
  padding-left: 5px;
}

.popover-host {
  left: 50%;
  top: 128px;
  position: fixed;
}
