<ul class="nav">
    <li
        routerLinkActive="active"
        *ngFor="let filial of filials | async"
    >
        <a routerLink="filials/{{filial.id}}">
            <span class="sidebar-mini">{{filial.name[0]}}</span>
            <span class="sidebar-normal">{{filial.name}}</span>
        </a>
    </li>
</ul>
