.app-loader {
  display: none;
  position: fixed;
  z-index: 9999;
  background: rgba(167, 167, 167, 0.37);
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

.app-loader.active {
  display: flex;
}

.app-loader .circular {
  width: 60px;
  height: 60px;
  margin: auto;
}
