.check-paid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.check-paid {
  flex-basis: 50%;
}

img.check-paid__img {
  height: 20vh;
}

form.check-paid__form {
  margin-top: 45px;
  font-size: 16px;
}

form button {
  float: right;
}
