<div>
  <app-upload-button [urlFunc]="urlFunc" (upload)="update()" [uploader]="uploader"></app-upload-button>
  <ngx-datatable
    class="material"
    [columnMode]="'flex'"
    [rows]="rows"
    [rowHeight]="'auto'">

    <!-- Column Templates -->
    <ngx-datatable-column name="#" [flexGrow]="2" cellClass="font-bold">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="align-left">
          <video controls>
            <source [src]="value.file">
            Your browser does not support the video tag.
          </video>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Название" [flexGrow]="1" cellClass="font-bold">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value.file.name}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Описание" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value.description}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Действия" [flexGrow]="1" cellClass="actions-sell vt-align-center">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button type="button" class="btn btn-just-icon btn-primary" (click)="edit(value)"><i class="material-icons">create</i></button>
        <button type="button" class="btn btn-just-icon" (click)="delete(value)"><i class="material-icons">delete</i></button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
