.filials-list >>> .mat-subheader {
  padding-left: 0 !important;
  font-size: 15px;
}

.filials-list {
  margin-top: 15px;
  border-top: solid 1px lightgray;
}

.gray {
  color: gray;
}

.status-cell--status-warn {
  cursor: pointer;
  color: #ff6f00;
}

.status-cell--status-success {
  cursor: pointer;
  color: #33691e;
}
