<h2 class="page__title">{{(route.data | async)?.title}}</h2>
<smart-table [columns]="columns" [options]="options"></smart-table>

<!--Шаблон карточки-->
<ng-template #placesTable let-value="value">
  <div *ngIf="value.isDraft" class="field">
    <div class="field__title">Ссылка на регистрацию</div>
    <a class="field__value" href="{{getlink(value)}}" target="_blank">{{getlink(value)}}</a>
  </div>
  <div *ngIf="value.places == null ||value.places.length == 0" style="margin-top: 15px">Отсутствуют филиалы</div>
  <mat-list *ngIf="value.places != null && value.places.length != 0" class="filials-list">
    <h3 mat-subheader>Филиалы</h3>
    <ng-container *ngFor="let p of value.places">
      <mat-list-item>
        <h4 mat-line>{{p.name}}</h4>
        <h5 mat-line class="gray">{{p.address}}</h5>
        <h5 mat-line class="gray">Активность: {{p.isActive ? 'Да' : 'Нет'}}</h5>
      </mat-list-item>
    </ng-container>
  </mat-list>
</ng-template>

<!--Шаблон колонки статуса-->
<ng-template #statusColumn let-value="value">
  <mat-icon class="status-cell--status-warn" title="Организация не подтвердила регистрацию" *ngIf="value.isDraft">
    fiber_manual_record
  </mat-icon>
  <mat-icon class="status-cell--status-success" title="Организация подтвердила регистрацию" *ngIf="!value.isDraft">
    fiber_manual_record
  </mat-icon>
</ng-template>

<!--Шаблон создания-->
<ng-template #createTmp>
  <app-register-stepper></app-register-stepper>
</ng-template>
