<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal">
                        <div
                            class="card-header card-header-text"
                            data-background-color="rose"
                        >
                            <h4 class="card-title">Редактирование видеозаписи</h4>
                        </div>
                        <div
                            class="card-content"
                            [formGroup]="form.form"
                        >
                            <div class="row">
                                <div class="col-sm-3 col-md-offset-2 video" *ngIf="(item|async) != null">
                                    <vg-player>
                                        <vg-overlay-play></vg-overlay-play>

                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                        </vg-scrub-bar>

                                        <vg-controls>
                                            <vg-play-pause></vg-play-pause>
                                            <vg-time-display
                                                vgProperty="current"
                                                vgFormat="mm:ss"
                                            ></vg-time-display>

                                            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                                            <vg-time-display
                                                vgProperty="left"
                                                vgFormat="mm:ss"
                                            ></vg-time-display>
                                            <vg-time-display
                                                vgProperty="total"
                                                vgFormat="mm:ss"
                                            ></vg-time-display>
                                            <vg-mute></vg-mute>
                                            <vg-volume></vg-volume>

                                            <vg-fullscreen></vg-fullscreen>
                                        </vg-controls>

                                        <video
                                            [vgMedia]="media"
                                            #media
                                            id="singleVideo"
                                            preload="auto"
                                            crossorigin
                                        >
                                            <source src="{{(item | async).file}}">
                                        </video>
                                    </vg-player>
                                </div>
                            </div>
                            <div
                                class="row"
                                *ngFor="let f of form.getKeys()"
                            >
                                <label class="col-sm-2 label-on-left">
                                    {{form.getlabel(f)}}
                                    <span class="star">{{form.isRequired(f) ? '*' : ''}}</span>
                                </label>
                                <div class="col-sm-9">
                                    <div
                                        class="form-group label-floating is-empty"
                                        [ngClass]="{'has-error': form.isError(f)}"
                                    >
                                        <label class="control-label"></label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            value
                                            [formControlName]="f"
                                        >
                                        <span
                                            class="help-block"
                                            hidden="!form.isError(f)"
                                        >
                                            {{!form.isRequired(f) ? form.getError(f) : ''}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2"></label>
                                <div class="col-md-9">
                                    <div class="category form-category">
                                        <span class="star">*</span>
                                        Обязательные поля
                                    </div>
                                    <div class="form-group form-button">
                                        <button
                                            type="submit"
                                            class="btn btn-fill btn-rose"
                                            [disabled]="!form.isValid()"
                                            (click)="save()"
                                        >
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
