<h4 class="info-text"> Выберите категории в которых хотите разместить свою организацию</h4>
<h5 class="info-text"> Вы можете выбрать до 3 категорий</h5>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <app-categories-checker [templates]="categories | async"
                            [size]=3
                            (onCheck)="baseForm.onCheck($event)"></app-categories-checker>
  </div>
</div>
