<div>
  <h5 class="card-content_title title_color">Введите код отправленный на <span>{{email}}</span></h5>
  <div>(так же проверьте спам)</div>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      <button type="submit" class="btn btn-primary btn-rose" (click)="confirm()" [disabled]="!form.valid">Завершить
      </button>
    </formly-form>
  </form>
</div>
