<div class="card dashboard__card">
  <div class="card-header">
    <h4 class="card-title" routerLink="filials/{{filial.id}}">
      {{filial.name}} -
      <small>{{filial.address}}</small>
    </h4>
    <div class="dropdown">
      <button href="#" class="btn btn-just-icon btn-link mat-raised-button" data-toggle="dropdown" aria-expanded="true" >
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="delete(filial.id)">Удалить</a></li>
        <li class="divider"></li>
        <li><a routerLink="filials/{{filial.id}}/copy">Скопировать</a></li>
      </ul>
    </div>
  </div>
  <div class="card-content dashboard__card__content">
    <ul class="nav nav-pills nav-pills-icons">
      <li class="active">
        <a href="#{{filial.id}}1" data-toggle="tab">Информация</a>
      </li>
      <li>
        <a href="#{{filial.id}}2" data-toggle="tab">Изображения</a>
      </li>
      <li>
        <a href="#{{filial.id}}3" data-toggle="tab">Видео</a>
      </li>
      <li>
        <a href="#{{filial.id}}4" data-toggle="tab">Скидки</a>
      </li>
    </ul>
    <div class="tab-content dashboard__filial__tab_content">
      <div class="tab-pane dashboard__filial__tab active" id="{{filial.id}}1">
        <div class="row">
          <div class="col-sm-3 label-on-left">
            <label class="form-control-static">Активность:</label>
          </div>
          <div class="col-sm-9">
            <p class="form-control-static">{{filial.isActive ? 'Активен' : 'Скрыт'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 label-on-left">
            <label class="form-control-static">Название:</label>
          </div>
          <div class="col-sm-9">
            <p class="form-control-static">{{filial.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 label-on-left">
            <label class="form-control-static">Вебсайт:</label>
          </div>
          <div class="col-sm-9">
            <p class="form-control-static">
              {{filial.website == '' ? '-' : filial.website}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 label-on-left">
            <label class="form-control-static">Телефон:</label>
          </div>
          <div class="col-sm-9">
            <p class="form-control-static">
              {{filial.phone == '' ? '-' : filial.phone}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 label-on-left">
            <label class="form-control-static">Адрес:</label>
          </div>
          <div class="col-sm-9">
            <p class="form-control-static">
              {{filial.address == '' ? '-' : filial.address}}
            </p>
          </div>
        </div>
        <button class="btn btn-primary btn-round btn-fab dashboard__btn__edit" routerLink="filials/{{filial.id}}/edit">
          <i class="material-icons">edit</i>
          <div class="ripple-container"></div>
        </button>
      </div>
      <div class="tab-pane dashboard__filial__tab" id="{{filial.id}}2" style="overflow: auto;">
        <div *ngIf="filial.images.length == 0" class="dashboard__not-image">
          <h5>У этого филиала нету загруженных изображений.</h5>
        </div>
        <div class="dashboard__images" *ngIf="filial.images.length != 0">
          <div class="dashboard__image" *ngFor="let img of filial.images">
            <img src="{{img.file}}?width=130&height=130&rmode=crop">
          </div>
        </div>
        <button class="btn btn-primary btn-round btn-fab dashboard__btn__edit"
                routerLink="filials/{{filial.id}}/images">
          <i class="material-icons">edit</i>
          <div class="ripple-container"></div>
        </button>
      </div>
      <div class="tab-pane dashboard__filial__tab" id="{{filial.id}}3" style="overflow: auto;">
        <div *ngIf="filial.videos.length == 0" class="dashboard__not-video">
          <h5>У этого филиала нету загруженных видеозаписей.</h5>
        </div>
        <table class="ui celled table dashbord__table" *ngIf="filial.videos.length != 0">
          <thead>
          <tr>
            <th width="50%">Название</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let video of filial.videos">
            <td>
              <strong>{{video.name}}</strong>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary btn-round btn-fab dashboard__btn__edit"
                routerLink="filials/{{filial.id}}/videos">
          <i class="material-icons">edit</i>
          <div class="ripple-container"></div>
        </button>
      </div>
      <div class="tab-pane dashboard__filial__tab" style="overflow: auto;" id="{{filial.id}}4">
        <div *ngIf="filial.sales.length == 0" class="dashboard__not-sale">
          <h5>У этого филиала нету скидок.</h5>
        </div>
        <div class="dashbord__table" *ngIf="filial.sales.length != 0">
          <table class="ui celled table">
            <thead>
            <tr>
              <th width="70%">Название</th>
              <th width="30%">Тип</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sale of filial.sales">
              <td>
                <strong>{{sale.name}}</strong>
              </td>
              <td>
                <strong>{{sale.discountType === 0 ? 'Скидка ' + sale.amount + '%' : 'Акция'}}</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-round btn-fab dashboard__btn__edit" routerLink="filials/{{filial.id}}/sales">
          <i class="material-icons">edit</i>
          <div class="ripple-container"></div>
        </button>
      </div >
    </div>
  </div>
</div>
