.dashboard__btn__delete {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.dashboard__btn__edit {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.dashboard__filial__tab {
  height: 100%;
}

.dashboard__not-image,
.dashboard__not-video,
.dashboard__not-sale {
  display: flex;
  min-height: 259px;
  justify-content: center;
}

.dashboard__image {
  max-height: 100px;
  max-width: 100px;
  margin: 2px;
}

.dashboard__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dashboard__card {
  width: 485px;
  height: 440px;
  position: relative !important;
}

.dashboard__card__content {
  position: initial !important;
}

.dashboard__filial__tab_content {
  height: 275px;
  overflow: hidden;
}

.dashbord__table tr {
  font-size: 14px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-title:hover {
  cursor: pointer;
}

.card-header {
  display: flex;
}

.btn-just-icon {
  background-color: transparent;
  color: black;
  box-shadow: none;
}

.tab-content {
  overflow: hidden;
}

.dropdown button.btn.btn-just-icon.btn-link.mat-raised-button {
  margin: 0 0 0 20px !important;
  padding: 11px 0;
}
