<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">UIR Admin</a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="nav navbar-nav navbar-right">
          <li class="link">
            <a (click)="toMain()">
              <i class="material-icons">map</i> Карта
            </a>
          </li>
          <li class="link" (click)="logout()">
            <a>
              <i class="material-icons">exit_to_app</i> Выход
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page pricing-page" data-image="../assets/img/bg-pricing.jpeg">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="title">Выберите свою компанию или создайте новую</h2>
          </div>
        </div>
        <div class="row companies">
          <app-company *ngFor="let company of companies | async"
                       [name]="company.name"
                       [adress]="company.legalAddress"
                       [logo]="company.logo"
                       [id]="company.id">
          </app-company>
          <div class="col-md-3">
            <div class="card card-add">
              <a routerLink="add" class="button-add">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
