.button-add {
  display: flex;
  width: 260px;
  height: 370px;
  border: solid 2px white;
  background-color: transparent;
  border-radius: 6px;
}

.card-add {
  background-color: transparent;
}

.card-add:hover {
  background-color: white;
}

.card-add:hover .button-add i {
  color: #e91e63;
}

.button-add i {
  font-size: 140px;
  margin: auto;
  color: white;
  line-height: 0;
}
