<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <app-images-loader></app-images-loader>
            </div>
        </div>
        <app-images-list [images$]="images$" [companyId]="companyId"></app-images-list>
    </div>
</div>
