<form [formGroup]="form">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
    <ng-container *ngIf="buttonsTemp != null">
      <ng-container *ngTemplateOutlet="buttonsTemp"></ng-container>
    </ng-container>
    <button type="submit" class="btn btn-primary btn-rose" (click)="submit()" [disabled]="!form.valid">Завершить
    </button>
  </formly-form>
</form>
