<div class="dashboard__filials">
  <div
    class="col-md-6 dashboard__filial"
    *ngFor="let filial of filials | async">
    <app-dashboard-filial [filial]="filial" [companyId]="companyId"></app-dashboard-filial>
  </div>
</div>
