<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div
                        class="card-header card-header-text"
                        data-background-color="rose"
                    >
                        <h4 class="card-title">Теги</h4>
                    </div>
                    <div class="card-content">
                        <div class="col-md-10 col-md-offset-1">
                            <tag-input
                                [secondaryPlaceholder]="'Добавте теги'"
                                [(ngModel)]="tags"
                                theme="bootstrap"
                                (onTextChange)="onTextChange($event)"
                                (onRemove)="onItemRemoved($event)"
                                (onAdd)="onItemAdded($event)"
                            >
                                <tag-input-dropdown
                                [autocompleteItems]="tagsResult"
                                [minimumTextLength]="2"
                                ></tag-input-dropdown>
                            </tag-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
