.image-multiple-loader {
  padding: 20px;
}

.link-add {
  display: flex;
}

.link-add .btn {
  margin: 0;
}

.image-multiple-loader__link-add {
  margin-top: 20px;
  width: 50%;
}

.link-add .form-group {
  width: 100%;
  margin: 0;
}

.image-link__img{
  max-height: 100px;
  width: auto;
}

.image-link .btn{
  margin-right: 10px;
}
