<div class="image-multiple-loader">
  <button class="btn btn-primary btn-sm" *ngIf="!isShowBody" (click)="isShowBody = true">Загрузить изображения по
    ссылкам<i class="material-icons">keyboard_arrow_down</i></button>
  <button class="btn btn-primary btn-sm" *ngIf="isShowBody" (click)="isShowBody = false">Загрузить изображения по
    ссылкам<i class="material-icons">keyboard_arrow_up</i></button>
  <div *ngIf="isShowBody">
    <div class="image-list">
      <div class="image-link" *ngFor="let l of links">
        <button class="btn btn-danger btn-round btn-fab btn-fab-mini" (click)="remove(l)">
          <i class="material-icons">clear</i>
        </button>
        <img class="image-link__img" src="{{l}}">
        <a href="{{l}}">{{l}}</a>
      </div>
    </div>
    <div class="link-add image-multiple-loader__link-add">
      <div class="form-group label-floating">
        <label class="control-label">Вставьте ссылку</label>
        <input type="text" class="form-control" [formControl]="input" (keyup.enter)="addLink()">
      </div>
      <button class="btn btn-primary btn-round btn-fab btn-fab-mini" (click)="addLink()" [disabled]="input.value == null || input.value == ''">
        <i class="material-icons">add</i>
      </button>
    </div>
    <button class="btn" [ngClass]="{'btn-rose': links.length > 0}" [disabled]="links.length == 0" (click)="load()">
      Загрузить
    </button>
  </div>
</div>
