.sales-table >>> .font-bold {
  font-weight: bold !important;
}

.sales-table >>> datatable-body-cell {
  border-bottom: solid 1px lightgray;
}

.sales-table >>> datatable-body-cell .datatable-body-cell-label{
  margin: 10px 0;
}

.sales-table ngx-datatable {
  border-radius: 5px;
  padding: 20px;
}

.sales-table {
  margin-top: 15px;
}

.sales-table >>> .actions-sell button {
  margin: 0 !important;
}

.sales-table >>> .vt-align-center {
  display: flex !important;
  align-items: center !important;
}
