<div class="sales-table">
  <button type="button" class="btn btn-rose" (click)="add()">Добавить</button>
  <ngx-datatable
    class="material"
    [columnMode]="'flex'"
    [rows]="rows"
    [rowHeight]="'auto'"
    [columns]="columns">

    <!-- Column Templates -->
    <ngx-datatable-column name="#" [flexGrow]="1" cellClass="font-bold">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value.id}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Название" [flexGrow]="2" cellClass="font-bold">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value.name}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Описание" [flexGrow]="4">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value.description}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Тип" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value.discountType === 0 ? 'Скидка ' + value.amount + '%' : 'Акция'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Время окончания" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template>{{value.discountEndDate | date : 'd MMMM y' : '' : ''}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Активность" [flexGrow]="1" cellClass="vt-align-center">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>
          <div class="togglebutton">
            <label>
              <input type="checkbox" [checked] = 'value.isActive' disabled>
              <span><span class="check"></span></span>
            </label>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Эксклюзив" [flexGrow]="1" cellClass="vt-align-center">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>
          <div class="togglebutton">
            <label>
              <input type="checkbox" [checked] = 'value.isExclusive' disabled>
              <span><span class="check"></span></span>
            </label>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Действия" [flexGrow]="2" cellClass="actions-sell vt-align-center">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button type="button" class="btn btn-just-icon btn-primary" (click)="edit(value)"><i class="material-icons">create</i></button>
        <button type="button" class="btn btn-just-icon" (click)="delete(value)"><i class="material-icons">delete</i></button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
