<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">UIR Admin</a>
      </div>
      <!--<div class="collapse navbar-collapse" id="menu-example">-->
      <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li>-->
      <!--<a routerLink="/register">-->
      <!--<i class="material-icons">person_add</i> Регистрация-->
      <!--</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
    </div>
  </nav>
  <div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpeg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <div method="#" action="#">
              <div class="card card-login card-hidden">
                <div class="card-header text-center" data-background-color="purple">
                  <h4 class="card-title">Вход</h4>
                </div>
                <form class="card-content" [formGroup]="form.form">
                  <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                    <div class="form-group label-floating">
                      <label class="control-label">{{form.getlabel('login')}}</label>
                      <input type="email" class="form-control" [formControlName]="'login'">
                    </div>
                  </div>
                  <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                    <div class="form-group label-floating">
                      <label class="control-label">{{form.getlabel('password')}}</label>
                      <input type="password" class="form-control" [formControlName]="'password'">
                    </div>
                  </div>
                  <div class="restore-link">
                    <a routerLink="/user/restorepassword">Забыли пароль?</a>
                  </div>
                </form>
                <div class="footer text-center">
                  <button class="btn btn-purple btn-wd btn-lg" (click)="login()">Войти</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
