<div class="input-group" [formGroup]="fromGroup" [ngClass]="{'has-error': isError}">
  <span class="input-group-addon">
    <i class="material-icons">{{icon}}</i>
  </span>
  <div class="form-group label-floating">
    <label class="control-label">{{label + (isError? ' (' + error + ')' : '')}}</label>
    <input id="party" type="text" name="party" class="form-control" [formControlName]="item">
  </div>
</div>
