<mat-vertical-stepper #stepper [linear]="false">
  <mat-step [editable]="false" [stepControl]="createOrgStep">
    <ng-template matStepLabel>Создание организации</ng-template>
    <app-create-organization (afterCreate)="onOrgCreate($event)" [ownerId]="fakeUser?.id"></app-create-organization>
  </mat-step>
  <mat-step [editable]="false" [stepControl]="setCategoriesStep">
    <ng-template matStepLabel>Выбор категории</ng-template>
    <app-categories-checker [size]="3" (onCheck)="onCategoryCheck($event)"></app-categories-checker>
    <button class="btn btn-primary btn-rose btn-lft" matStepperNext [disabled]="setCategoriesStep.invalid">Далее</button>
  </mat-step>
  <mat-step [editable]="false" [stepControl]="createFilialStep">
    <ng-template matStepLabel>Создание филиала</ng-template>
    <app-create-filial [orgId]="orgId" (afterCreate)="onFilialCreate($event)"></app-create-filial>
  </mat-step>
  <mat-step [editable]="true">
    <ng-template matStepLabel>Заполнение</ng-template>
    <h3>Изображения</h3>
    <app-images-uploader *ngIf="filialId" [filialId]="filialId"></app-images-uploader>
    <h3>Видео</h3>
    <app-videos-uploader *ngIf="filialId" [filialId]="filialId"></app-videos-uploader>
    <button class="btn btn-primary btn-rose btn-lft btn--margin-top" matStepperNext>Далее</button>
  </mat-step>
  <mat-step [editable]="true">
    <ng-template matStepLabel>Скидки</ng-template>
    <h3>Скидки оганизации</h3>
    <app-sales *ngIf="orgId" [owner]="2" [ownerId]="orgId"></app-sales>
    <h3>Скидки филиала</h3>
    <app-sales *ngIf="filialId" [owner]="1" [ownerId]="filialId"></app-sales>
    <button class="btn btn-primary btn-rose btn-lft btn--margin-top" matStepperNext>Далее</button>
  </mat-step>
  <mat-step [editable]="true">
    <ng-template matStepLabel>Ссылка</ng-template>
    <h3>Регистрация организации №{{orgId}} завершена</h3>
    <div *ngIf="fakeUser">
      <div class="fields">
        <label>Логин:</label>
        <div class="field-value">{{fakeUser.login}}</div>
        <label>Ссылка:</label>
        <div class="field-value"> {{link}}</div>
      </div>
    </div>
  </mat-step>
</mat-vertical-stepper>
