.fields {
  display: grid;
  grid-template-columns: 1fr 20fr;
  margin-top: 25px;
  grid-row-gap: 5px;
  grid-column-gap: 15px;
}

.fields label {
  font-weight: bold;
  color: black;
}

:host >>> .mat-stepper-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host >>> .mat-horizontal-stepper-header-container {
  width: 100%;
}

:host >>> .mat-horizontal-content-container {
  width: 50vw;
}

:host >>> .panel .panel-heading {
  padding: 0 !important;
}

:host >>> .checkbox label {
  color: black !important;
}

:host >>> .panel-group .panel-heading + .panel-collapse > .panel-body {
  margin: 0 !important;
}

.btn--margin-top {
  margin-top: 25px;
}
