<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">UIR Admin</a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="nav navbar-nav navbar-right">
          <li class=" active ">
            <a routerLink="/user/companies">
              <i class="material-icons">reply_all</i> Вернуться к компаниям
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page login-page" filter-color="black" data-image="/assets/img/login.jpeg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="main-content">
            <div class="container-fluid">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="wizard-container">
                  <div class="card wizard-card" data-color="rose" id="wizardProfile">
                    <form action="" method="">
                      <div class="wizard-header">
                        <h3 class="wizard-title">Создание компании</h3>
                      </div>
                      <div class="wizard-navigation">
                        <ul>
                          <li>
                            <a href="#about" data-toggle="tab">Информация</a>
                          </li>
                          <li>
                            <a href="#account" data-toggle="tab">Категории</a>
                          </li>
                          <li>
                            <a href="#address" data-toggle="tab">Оплата</a>
                          </li>
                        </ul>
                      </div>
                      <div class="tab-content">
                        <div class="tab-pane" id="about">
                          <app-info-tab></app-info-tab>
                        </div>
                        <div class="tab-pane" id="account">
                          <app-category-tab></app-category-tab>
                        </div>
                        <div class="tab-pane" id="address">
                          <app-pay-tab></app-pay-tab>
                        </div>
                      </div>
                      <div class="wizard-footer">
                        <div class="pull-right">
                          <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Дальше'
                                 [disabled]="!baseForm.disabled(companyForm,ipForm,selfEmployedForm)"/>
                          <input type='button' class='btn btn-finish btn-fill btn-rose btn-wd' (click)="create()"
                                 name='finish' value='Создать'/>
                        </div>
                        <div class="pull-left">
                          <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                                 value='Назад'/>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- wizard container -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
