<div class="wrapper">
  <div
    class="sidebar"
    data-active-color="white"
    data-background-color="red"
    data-image="../assets/img/sidebar-1.jpg"
    style="background-color: #484848;"
  >
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <router-outlet></router-outlet>
    <div *ngIf="!isMap()">
    </div>
  </div>
</div>
