<div class="col-md-3 company">
  <div class="card card-pricing card-plain">
    <div class="card-content">
      <div class="icon">
        <img *ngIf="logo; else logoTmp" src="{{logo}}?width=130&height=130&rmode=crop" alt="company logo">
        <ng-template #logoTmp>
            <i class="material-icons">business</i>
        </ng-template>
      </div>
      <h3 class="card-title">{{name}}</h3>
      <p class="card-description">
        {{adress}}
      </p>
      <a routerLink="/companies/{{id}}" class="btn btn-round btn-white">Выбрать</a>
    </div>
  </div>
</div>
