.company i {
  height: 130px;
  width: 130px;
}

.company .card {
  width: 260px;
  height: 370px;
}

.card:hover {
  background-color: white;
}

.card:hover a {
  color: white;
  background-color: #e91e63
}

.card:hover .card-title {
  color: #3C4858;
}

.card:hover i {
  color: #999999
}

.card img {
  width: auto !important;
  height: auto !important;
  border-radius: 100%;
  border: solid 1px;
  min-height: 130px;
  min-width: 130px;
}
