<h2 class="page__title">{{(route.data | async)?.title}}</h2>
<smart-table [columns]="columns" [options]="options"></smart-table>

<!--Шаблон колонки статуса-->
<ng-template #statusColumn let-value="value">
  <mat-icon class="status-cell--status-warn" title="Обзор не подтвержден" *ngIf="!value.isConfirmed">fiber_manual_record</mat-icon>
  <mat-icon class="status-cell--status-success" title="Обзор подтвержден" *ngIf="value.isConfirmed">fiber_manual_record</mat-icon>
</ng-template>
