<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-videos-loader></app-videos-loader>
      </div>
    </div>
    <app-videos-list></app-videos-list>
  </div>
</div>
