.dashboard__filials {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__filial {
  width: auto !important;
}

.dashboard__btn__edit {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.dashboard__filial__tab {
  height: 100%;
}

.dashboard__not-image,
.dashboard__not-video,
.dashboard__not-sale {
  display: flex;
  min-height: 259px;
  justify-content: center;
}

.dashboard__not-image h5,
.dashboard__not-video h5,
.dashboard__not-sale h5 {
  margin: 0;
}

.dashboard__image {
  max-height: 70px;
  max-width: 70px;
  margin: 2px;
}

.dashboard__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dashboard__card {
  width: 345px;
  height: 345px;
  position: relative !important;
  overflow: hidden;
}

.dashboard__card__content {
  position: initial !important;
}

.dashboard__filial__tab_content {
  height: 245px;
  overflow: hidden;
  margin-top: 0px !important;
}

.dashbord__table tr {
  font-size: 14px;
}

.card-title {
  font-weight: bold;
}
