<div class="main-content">
  <div class="container-fluid">
    <div
      class="row"
      *ngIf="filial != null"
    >
      <div class="dashboard__filials">
        <div class="col-md-6 dashboard__filial">
          <div class="card dashboard__card">
            <div class="card-header">
              <h4 class="card-title">Информация</h4>
            </div>
            <div class="card-content dashboard__card__content">
              <div class="tab-content dashboard__filial__tab_content">
                <div class="tab-pane dashboard__filial__tab active">
                  <div class="row">
                    <div class="col-sm-3 label-on-left">
                      <label class="form-control-static">Активность:</label>
                    </div>
                    <div class="col-sm-9">
                      <p class="form-control-static">{{filial.isActive ? 'Активен' : 'Скрыт'}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 label-on-left">
                      <label class="form-control-static">Название:</label>
                    </div>
                    <div class="col-sm-9">
                      <p class="form-control-static">{{filial.name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 label-on-left">
                      <label class="form-control-static">Вебсайт:</label>
                    </div>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        {{filial.website == '' ? '-' : filial.website}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 label-on-left">
                      <label class="form-control-static">Телефон:</label>
                    </div>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        {{filial.phone == '' ? '-' : filial.phone}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 label-on-left">
                      <label class="form-control-static">Адрес:</label>
                    </div>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        {{filial.address == '' ? '-' : filial.address}}
                      </p>
                    </div>
                  </div>
                  <button
                    class="btn btn-primary btn-round btn-fab dashboard__btn__edit"
                    routerLink="edit"
                  >
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 dashboard__filial">
          <div class="card dashboard__card">
            <div class="card-header">
              <h4 class="card-title">Изображения</h4>
            </div>
            <div class="card-content dashboard__card__content">
              <div class="tab-content dashboard__filial__tab_content">
                <div class="tab-pane dashboard__filial__tab active">
                  <div
                    *ngIf="filial.images.length == 0"
                    class="dashboard__not-image"
                  >
                    <h5>
                      У этого филиала нету загруженных изображений.
                    </h5>
                  </div>
                  <div class="dashboard__images">
                    <div
                      class="dashboard__image"
                      *ngFor="let img of filial.images"
                    >
                      <img src="{{img.file}}?width=70&height=70&rmode=crop">
                    </div>
                  </div>
                  <button
                    class="btn btn-primary btn-round btn-fab dashboard__btn__edit"
                    routerLink="images"
                  >
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 dashboard__filial">
          <div class="card dashboard__card">
            <div class="card-header">
              <h4 class="card-title">Видео</h4>
            </div>
            <div class="card-content dashboard__card__content">
              <div class="tab-content dashboard__filial__tab_content">
                <div class="tab-pane dashboard__filial__tab active">
                  <div
                    *ngIf="filial.videos.length == 0"
                    class="dashboard__not-video"
                  >
                    <h5>
                      У этого филиала нету загруженных видеозаписей.
                    </h5>
                  </div>
                  <table class="ui celled table dashbord__table">
                    <thead>
                    <tr>
                      <th width="50%">Название</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let video of filial.videos">
                      <td>
                        <strong>{{video.name}}</strong>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <button
                    class="btn btn-primary btn-round btn-fab dashboard__btn__edit"
                    routerLink="videos"
                  >
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 dashboard__filial">
          <div class="card dashboard__card">
            <div class="card-header">
              <h4 class="card-title">Скидки</h4>
            </div>
            <div class="card-content dashboard__card__content">
              <div class="tab-content dashboard__filial__tab_content">
                <div class="tab-pane dashboard__filial__tab active">
                  <div
                    *ngIf="filial.sales.length == 0"
                    class="dashboard__not-video"
                  >
                    <h5>
                      У этого филиала нету созданных скидок.
                    </h5>
                  </div>
                  <table class="ui celled table dashbord__table">
                    <thead>
                    <tr>
                      <th width="70%">Название</th>
                      <th width="30%">Тип</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sale of filial.sales">
                      <td>
                        <strong>{{sale.name}}</strong>
                      </td>
                      <td>
                        <strong>{{sale.discountType === 0 ? 'Скидка ' + sale.amount + '%' : 'Акция'}}</strong>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <button
                    class="btn btn-primary btn-round btn-fab dashboard__btn__edit"
                    routerLink="sales"
                  >
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
