.page-container {
  background-color: white;
  height: calc(100vh - 65px);
  padding-top: 15px;
}

.header {
  border-bottom: solid 1px lightgrey;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 50px;
}

.header__logo {
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 40px;
  font-weight: bold;
}

.header__user{
  font-size: 14px;
  margin-right: 8px;
  text-decoration: underline;
}

.page-container >>> .page__title{
  margin: 0 0 0 10px;
}
