<mat-toolbar class="header">
  <mat-toolbar-row class="header__row">
    <span class="header__logo">UIR для менаджеров</span>
    <button mat-button [routerLink]="'/admin/' + m.link" *ngFor="let m of menu.menus$ | async">{{m.name}}</button>
    <span style="flex: 1 1 auto"></span>
    <span class="header__user">{{(auth.info$ | async)?.name}}</span>
    <button mat-button (click)="logout()">Выход</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="page-container">
  <router-outlet></router-outlet>
</div>
<app-loader></app-loader>
