.checkbox label {
  color: black;
}

>>> .has-error .label {
  color: #f44336
}

>>> .input-group.has-error .form-control {
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2) !important;
  background-size: 100% 2px, 100% 1px !important;
  transition-duration: 0.3s !important;
}

>>> .input-group.has-error .control-label {
  color: #f44336 !important;
}
