<div class="row" [formGroup]="baseForm.form">
  <h4 class="info-text">Для начала заполните основную информацию о вашей компании</h4>
  <div style="padding: 0" class="col-sm-10 col-sm-offset-1">
    <app-company-logo-uploader></app-company-logo-uploader>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <app-company-auto-input
      [fromGroup]="baseForm.form"
      [error]="baseForm.getError('name')"
      [isError]="baseForm.isError('name')"
      [label]="baseForm.getlabel('name')"
      [item]="'name'"
      [icon]="baseForm.getIcon('name')"
      (select)="onSelect($event)"
    ></app-company-auto-input>
    <div class="input-group" *ngFor="let item of ['fio', 'address', 'activeType']"
         [ngClass]="{'has-error': baseForm.isError(item)}">
                                <span class="input-group-addon">
                                  <i class="material-icons">{{baseForm.getIcon(item)}}</i>
                                </span>
      <div class="form-group label-floating">
        <ng-container *ngIf="item !== 'activeType';else elseBlock">
          <label class="control-label">{{
            ( item == 'address' ? baseForm.getAddressLabel() : baseForm.getlabel(item)) +
            (baseForm.isError(item) ? ' ('
            + baseForm.getError(item) + ')' : '')}}</label>
          <input type="text" class="form-control" [formControlName]="item">
        </ng-container>
        <ng-template #elseBlock>
          <ng2-dropdown>
            <ng2-dropdown-button>
              {{baseForm.getTypeName()}}
            </ng2-dropdown-button>
            <ng2-dropdown-menu>
              <ng2-menu-item *ngFor="let typ of baseForm.activeTypes"
                             (click)="baseForm.setType(typ)">
                {{ typ.name }}
              </ng2-menu-item>
            </ng2-dropdown-menu>
          </ng2-dropdown>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div *ngTemplateOutlet="getTemplate()"></div>

<ng-template #orgTemp class="row">
  <app-company-form-gen [from]="companyForm"></app-company-form-gen>
</ng-template>

<ng-template #ipTemp class="row">
  <app-company-form-gen [from]="ipForm"></app-company-form-gen>
</ng-template>

<ng-template #personTemp class="row">
  <app-company-form-gen [from]="selfEmployedForm"></app-company-form-gen>
</ng-template>
