<div>
  <app-upload-button [urlFunc]="urlFunc" (upload)="update()" [uploader]="uploader"></app-upload-button>
  <ngx-datatable
    class="material"
    [columnMode]="'flex'"
    [rows]="rows"
    [rowHeight]="'auto'"
    [columns]="columns">

    <!-- Column Templates -->
    <ngx-datatable-column name="#" [flexGrow]="5" cellClass="font-bold">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="align-left">
          <img [src]="value.file" height="200">
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Действия" [flexGrow]="1" cellClass="actions-sell vt-align-center">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button type="button" class="btn btn-just-icon" (click)="delete(value)"><i class="material-icons">delete</i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
