<h4 class="title">Изображения</h4>
<div class="card images__card" *ngIf="(images$ | async).length > 0">
  <div *ngFor="let img of images$ | async">
    <div class="image">
      <div class='imageBlock' data-toggle="modal" data-target="#noticeModal" (click)="openImage(img.file)">
        <img src="{{img.file}}?width=200&height=200&rmode=crop" class='imageBlock__img center'>
      </div>
      <button class="btn btn-primary btn-round btn-fab image_delete" (click)="delete(img.id)">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
</div>
<div class="card card-testimonial" *ngIf="(images$ | async).length == 0">
  <div class="card-body">
    <div class="card-description">
      <h5>У этого филиала нету загруженных изображений.</h5>
    </div>
  </div>
</div>

<div *ngIf="imageOpen !== null" class="modal fade modal-image" id="noticeModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <img class="modal_image modal-image__body__img center" src="{{imageOpen}}">
</div>
