.card-body{
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  margin-bottom: 25px;
}

.image {
  position: relative;
  margin: 5px;
}

.image img {
  max-width: 200px;
  max-height: 200px;
}

.images__card {
  display: flex;
  padding: 35px;
  flex-wrap: wrap;
  align-items: center;
}

.image_delete{
  top: 5px;
  right: 5px;
  min-width: 0;
  width: 25px;
  height: 25px;
  position: absolute;
}

.modal .modal-dialog {
  margin-top: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%,-50%);
}

.imageBlock{
  width: 200px;
  height: 200px;
  background-color: currentColor;
}

.imageBlock__img{
  width: auto;
  position: absolute;
}

.modal-image__body__img{
  max-height: 97vh;
  max-width: 97vh;
  position: absolute;
  border: 15px solid #fff;
  border-radius: 10px;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
