@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

[_nghost-c6] {
  display: inherit !important;
}

.ng2-tags-container form {
  margin-bottom: 0px;
}

.categories_info .ng2-tag-input {
  border-bottom: 0px !important;
}

.filial_info_quill .ql-container {
  height: 50%;
}

.ng2-dropdown-button {
  max-width: 100% !important;
}

.ng2-dropdown-button:active, .ng2-dropdown-button:focus {
  border-bottom: 1.5px solid #9c27b0 !important;;
}

.fileinput .thumbnail.img-circle {
  max-width: 210px !important;
  max-height: 210px !important;
  border-radius: 5% !important;
}

.link {
  cursor: pointer;
}

/**Material extensions**/
.default-dialog mat-dialog-container{
  position: relative !important;
  height: unset !important;
  border-radius: 8px !important;
  min-width: 30vw !important;
}

/*windows*/

.gmnoprint {
  display: none;
}

/**Formly extensions**/
.display-flex {
  display: flex;
}

.flex-50 {
  flex-basis: 50%
}

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:last-child {
  padding-right: 0;
}

mat-form-field {
  width: 100%;
}

.btn-lft {
  float: right;
}

.align-center {
  display: flex;
  justify-content: center;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

/*field*/

.field {
  display: flex;
  margin-bottom: 16px;
}

.field__title {
  font-weight: bold;
  margin-right: 8px;
}

.field__value {
}

.stat{
  margin-top: 150px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.line-chart{
  width: 50%;
  display: inline-block;
  margin-top: 150px;
  height: 500px;
}
