<div class="card">
  <form class="form-horizontal">
    <div
      class="card-header card-header-text"
      data-background-color="rose"
    >
      <h4 class="card-title">Загрузка видеозаписей. Доступно {{videosAllowCount}}.</h4>
    </div>
    <div class="card-content">
      <div>
        <div
          class="row"
          style="display: flex"
        >
          <label
            for="file"
            class="well my-drop-zone"
            ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
          >
            Перетащите или нажмите для загрузки файлов
            <input
              id="file"
              style="display: none"
              type="file"
              ng2FileSelect
              [uploader]="uploader"
              multiple
            >
          </label>
        </div>
        <div *ngIf="uploader.queue.length > 0">
          <table class="ui celled table">
            <thead>
            <tr>
              <th width="50%">Файлы</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <strong>{{ item?.file?.name }}</strong>
              </td>
            </tr>
            </tbody>
          </table>
          <div fxLayout="row">
            <button
              type="button"
              class="btn btn-primary"
              (click)="uploader.uploadAll(); showloader = true;"
              [disabled]="!uploader.getNotUploadedItems().length"
            >
              <i class="cloud upload icon"></i>
              Загрузить
            </button>
          </div>
          <div>
            <div class="progress progress-line-primary">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="uploader.progress"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
