<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">UIR Admin</a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="nav navbar-nav navbar-right">
          <li class=" active ">
            <a routerLink="/user/login">
              <i class="material-icons">fingerprint</i> Вход
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page register-page" filter-color="black" data-image="../assets/img/register.jpeg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="card card-signup">
            <h2 class="card-title text-center">{{title}}</h2>
            <div class="app-row">
              <div class="col-40">
                <div>
                  <div class="info info-horizontal register_info">
                    <div class="icon icon-rose">
                      <i class="material-icons">share</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Мы объединяем все самое ЛУЧШЕЕ.</h4>
                      <p class="description">
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal register_info">
                    <div class="icon icon-primary">
                      <i class="material-icons">group</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">С нами людям будет проще узнать о Вас.</h4>
                      <p class="description">
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal register_info">
                    <div class="icon icon-info">
                      <i class="material-icons">blur_on</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Мы - Эволюция в рекламе.</h4>
                      <p class="description">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-40">
                <div class="form">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
