.register_info {
  display: flex;
  align-items: center;
  margin: auto;
}

.register_info .icon {
  margin-top: 0;
}

.input-group.has-error .form-control {
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2) !important;
  background-size: 100% 2px, 100% 1px !important;
  transition-duration: 0.3s !important;
}

.input-group.has-error .control-label {
  color: #f44336 !important;
}

.form >>> mat-form-field {
  margin-top: 10px;
}

.form >>> button {
  margin-top: 20px;
}

.app-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-40 {
  flex-basis: 40%;
}
