:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}

:host >>> mat-card {
  width: 400px;
  box-shadow: none !important;
  border-radius: 8px;
  border: solid 1px lightgray;
}

:host >>> mat-card-header {
  margin-bottom: 16px;
}

:host >>> mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host >>> .title {
  font-size: 24px !important;
  font-weight: 400;
  text-align: center;
}

:host >>> .subtitle {
  font-size: 16px !important;
}

:host >>> mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
