<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Вход</mat-card-title>
    <mat-card-title class="subtitle">UIR для менаджеров</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">Войти</button>
  </mat-card-actions>
</mat-card>

