<h4 class="title">Видеозаписи</h4>
<div class="card card-testimonial" *ngIf="(videos$ | async).length == 0">
  <div class="card-body">
    <div class="card-description">
      <h5>У этого филиала нету загруженных видеозаписей.</h5>
    </div>
  </div>
</div>
<div class="card videos" *ngIf="(videos$ | async).length > 0">
  <div
    class="video-card"
    *ngFor="let v of videos$ | async"
  >
    <div class="video">
      <vg-player>
        <vg-overlay-play></vg-overlay-play>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-time-display
            vgProperty="current"
            vgFormat="mm:ss"
          ></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display
            vgProperty="left"
            vgFormat="mm:ss"
          ></vg-time-display>
          <vg-time-display
            vgProperty="total"
            vgFormat="mm:ss"
          ></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video
          [vgMedia]="media"
          #media
          id="singleVideo"
          preload="auto"
          crossorigin
        >
          <source src="{{v.file}}">
        </video>
      </vg-player>
    </div>
    <div class="content">
      <div class="header">
        <div class="header-container video-card__header-container">
          <div class="header-text">{{v.name}}</div>
          <div class="header-actions video-card__header-actions">
            <button
              routerLink="{{v.id}}"
              class="btn btn-primary btn-round btn-fab btn-fab-mini"
            >
              <i class="material-icons">edit</i>
            </button>
            <button
              class="btn btn-primary btn-round btn-fab btn-fab-mini"
              (click)="delete(v.id)"
            >
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
        <div class="description">
          <span class="cinema">{{v.discription}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
