.row {
  margin-bottom: 25px;
}


.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 25%;
  position: relative;
}

.video {
  height: 250px;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.video-card__header-container{
  margin-top: 5px;
}

.header-text {
  font-size: 16px;
}

.video-card__header-actions{
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 999;
}

.card-body{
  padding-top: 20px;
  padding-bottom: 20px;
}
