<div
    class="panel-group"
    id="accordion"
    role="tablist"
    aria-multiselectable="true"
>
    <div
        class="panel panel-default"
        *ngFor="let t of templates"
    >
        <div
            class="panel-heading"
            role="tab"
            id="headingOne"
        >
            <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne{{t.id}}"
                aria-expanded="false"
                aria-controls="collapseOne"
            >
                <h4 class="panel-title">
                    {{t.name}}
                    <i class="material-icons">keyboard_arrow_down</i>
                </h4>
            </a>
        </div>
        <div
            id="collapseOne{{t.id}}"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingOne"
        >
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div
                            class="checkbox"
                            *ngFor="let c of t.categories"
                        >
                            <label>
                                <input
                                    [checked]="isCheck(c)"
                                    type="checkbox"
                                    name="optionsCheckboxes"
                                    (click)="check(c)"
                                    [disabled]="isDisable(c.id)">
                                {{c.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
